@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/public-pixel');

@font-face {
  font-family: 'Public-Pixel';
  src: url(Orbitron-VariableFont_wght.ttf);
}

/* Rajdhani, Exo 2, Saira Condensed */

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #191970; /* dark blue #191970, light blue #0073CF, light grey #a2a7b0 */
  cursor: auto;
  overflow-x: hidden;
}

/*Primary Dark Blue: #1B263B
White (Text): #FFFFFF
Teal (Accent): #1ABC9C
Orange (Accent): #E67E22
Light Gray (Secondary Background): #F2F2F2
Light Gray (Secondary Text): #ECF0F1
*/

.header {
  background-color: black;
  height: 7vh;
  width: 100%;
  padding: 0.5rem 1rem;

  text-align: center;
  align-items: center;
  font-family: 'Public-Pixel';
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: clamp(0.5rem, 2vw, 1.25rem);
  border-bottom: #b87f0d;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.header a {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-shrink: 1;
}
.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap; /* Prevent text wrapping */
}

.text-wrapper2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}



.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: fit-content;
  width: 400px;
  margin-right: .2rem;
  margin-left: .2rem;
}

.creation-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: .5rem; 
  margin-right: .1rem;
  border-radius: 6.18rem;
  border-bottom-right-radius: 13rem;
  background-color: black;
  background-image: url('spacebackground.png');
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
  box-shadow: 0 4px 8px rgba(0.5, 0.5, 0.5, 0.5);
  flex-grow: 1;
  flex-basis: 0;
  overflow: hidden;
  height: 93vh;
  min-width: 300px;
}

.error-popup {
  font-family: Public-Pixel;
  font-size: clamp(0.5rem, 4vh, 1.25rem);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 5px;
  z-index: 1000;
  cursor: pointer;
}

#gradient-text {
  background: rgb(255, 255, 255);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: clamp(0.3rem, 4vw, 2vh);
  text-align: center;
}

.button {
  margin-top: .1rem;
  justify-content: center;
  display: flex;
  width: 97.5%;
  border-radius: 5rem;
  padding: .5rem;
  cursor: pointer;
  color: purple;
  background-color: black;
  border: 2px solid #b87f0d;
  font-family: Public-Pixel;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
  font-size: clamp(0.5rem, 4vw, 2vh); /* Add transition for hover effect */
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.imageborder {
  max-height: 65vh;
  min-height: 30vw;
  max-width: 65vw;
  min-width: 30vw;
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.imageborder:hover {
  transform: scale(1.4);
}

.textarea {
  padding-top: .5rem;
  margin: .1rem;
  border-width: 3px;
  border-radius: 2rem;
  border: solid 2px #b87f0d;
  font-family: Public-Pixel;
  font-size: clamp(0.5rem, 4vw, 2vh);
  width: 100%;
  transition: transform 0.2s;
}
.textarea-container {
  position: relative;
  width:97.5%
} 
.textarea:hover {
  transform: scale(1.05);
}


.overlay-button:hover {
  transform: scale(1.05);
}

.overlay-button {
  position: absolute;
  bottom: 12px;
  right: 4px;
  z-index: 10;
  background-color: red;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6.618rem;
  cursor: pointer;
  transition: transform 0.2s;
  font-size: clamp(0.5rem, 4vw, 2vh);
}

.overlay-button:hover {
  transform: scale(1.05);
}

.info-popup {
  font-family: Public-Pixel;
  font-size: clamp(0.5rem, 4vw, 2vh);
  margin-left: 2rem;
  margin-right: 2rem;
  color: #ffffff;
}

.button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
  background-color: black;
  border-color: #b87f0d;
}



.infobutton {
  display: flex;
  padding: .25rem;
  align-items: center;
  border-radius: 0.618rem;
  font-size: clamp(0.5rem, 4vw, 2vh);
  cursor: pointer;
  border: 2px solid #000000;
  font-family: Public-Pixel;
  color: #ffffff;
  background-color: #0073CF;
  height: 65px;
  transition: transform 0.2s;

}
.infobutton:hover {
  transform: scale(1.05);
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.5rem, 4vw, 2vh);
  margin: .25rem;
  padding: .25rem;
  color: #ffffff;
  font-family: 'Public-Pixel', sans-serif;
}

.tag2 {
  justify-content: space-between;
  width: 98%;
  padding: .3rem;
  margin-top: .1rem;
  display: flex;
  align-items: center;
  border: 1px solid #000000;
  border-radius:5rem;
  font-size: clamp(0.5rem, 4vw, 2vh);
  color: #ffffff;
  font-family: 'Public-Pixel', sans-serif;
}

.tag3 {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #000000;
  border-radius: 0.618rem;
  font-size: clamp(0.5rem, 4vw, 2vh);
  margin: .25rem;
  padding: .25rem;
  color: #ffffff;
  font-family: 'Public-Pixel', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.tag4 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #000000;
  border-radius: 0.618rem;
  font-size: clamp(0.5rem, 4vw, 2vh);
  margin: .25rem;
  padding: .25rem;
  color: #ffffff;
  font-family: 'Public-Pixel', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  margin: 1rem 7rem;
  font-size: clamp(0.5rem, 4vw, 2vh);
}

.tag5 {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #b87f0d;
  border-radius: 5rem;
  background-color: #000000;
  font-size: clamp(0.5rem, 4vw, 2vh);
  width: fit-content;
  text-align: center;
  margin: .5rem auto;
  padding: .3rem;
  font-family: 'Public-Pixel', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.tag6 {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: clamp(0.5rem, 4vw, 2vh);
  width: 100%;
  text-align: center;
  padding: .3rem;
  font-family: 'Public-Pixel', sans-serif;


}

.field {
  display: flex;
  text-align: center;
  background-color:black;
  border: 2px solid #b87f0d;
  border-radius:5rem;
  font-size: clamp(0.5rem, 4vw, 2vh);
  width: fit-content;
  font-family: Public-Pixel;
  padding: .3rem;
  transition: transform 0.2s;
}
.field:hover {
  transform: scale(1.05);
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner-message {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 5.618rem;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: large;
  font-family: Public-Pixel;
  background: linear-gradient(to left, #ff00f7, #0000ff, #c50303, #ff00f7, #0000ff);
  background-size: 400% auto;
  animation: flow 2.618s linear infinite;
  min-width: 20vw;
  min-height: 20vh;
  font-size: clamp(0.5rem, 4vw, 2vh);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.adalogo {
  width: 40rem;
  height: auto;
}

@keyframes flow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.prompt-summary {
  margin-bottom: 3rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.25rem;
  width: 100%;
}

.asset-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #b87f0d;
  border-radius: 6.618rem;
  padding: 0.25rem;
  background-color: black;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.2s;
}

.asset-container:hover {
  transform: scale(1.05);
}

.asset-value {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: clamp(0.5rem, 4vw, 2vh);
}

.button-animate {
  animation: slideInOut 3s infinite, gradientFlow 5s infinite;
  background: linear-gradient(270deg, #ff6a00, #ee0979);
  background-size: 400% 400%;
  color: white;
  border: none;
  padding: 2rem 2rem;
  cursor: pointer;
  outline: none;
  font-size: clamp(0.5rem, 4vw, 2vh);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.button:hover, .button2:hover {
  transform: scale(1.05);
}

@keyframes slideInOut {
  0% {
    transform: translateX(-2rem);
  }
  50% {
    transform: translateX(2rem);
  }
  100% {
    transform: translateX(-2rem);
  }
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#creation-gradient-text {
  background: #ffffff;
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-content: center;
  align-self: center;
  font-size: clamp(0.5rem, 4vw, 2vh);
  text-align: center;
}


.uses-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loading-bar {
  display: flex;
  width: 98%;
  justify-content: space-between;
  margin-top: 0.25rem;
}

.loading-block {
  width: 7%;
  height: 3rem;
  background-color: #ddd;
  border-radius: 5rem;
  transition: background-color 0.3s;
  font-size: clamp(0.5rem, 4vw, 2vh);
  font-family: Public-Pixel;
  text-align: center;
  align-content: center;
}

.loading-block.filled.magenta {
  background-color: #5bc1c1;
}

.loading-block.filled.orange {
  background-color: orange;
}

.loading-block.filled.red {
  background-color: red;
}

.letter-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7%;
  height: 3rem;
  font-size: clamp(0.5rem, 4vw, 2vh);
  font-family: Public-Pixel;
  color: red;
  background-color: #ddd;
  border-radius: 0.25rem;
}

.token-per-use {
  font-size: clamp(0.5rem, 4vw, 2vh);
  color: #fff;
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
  .hide-on-mobile {
    display: none !important;
  }
  .form, .creation-container {
    width: 100%;
    margin:  0;
  }
  .form {
    min-height: auto;
    height: auto;
  }
  .creation-container {
    min-height: 90vh; /* Adjust the height for mobile */
    height: auto; /* Ensure it adapts to the content */
    padding: 1rem; /* Adjust padding if necessary */
    border-radius: 1rem; /* Adjust border radius for a better look on mobile */
  }
  .header {
    flex-direction: row;
    font-size: clamp(0.4rem, 3vw, 1rem);
    padding: 0.25rem;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .header a {
    flex: 1;
    display: flex;
    align-items: center;

  }
  .header img {
    width: 40px;
    height: 40px;
  }

  img {
    width: 100px; 
    height: auto;
  }
  #gradient-text2 {
    font-size: clamp(0.4rem, 3vw, 1rem);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .subtext {
    font-size: clamp(0.3rem, 2vw, 0.75rem);
  }
  .text-wrapper {
    font-size: clamp(0.4rem, 3vw, 1rem); /* Scale text for mobile */
  }
  .button, .button2, .infobutton, .tag, .tag2, .tag3, .tag4, .tag5 {
    font-size: clamp(0.5rem, 4vw, 2vh);
    padding: .25rem;
  }
  .textarea {
    font-size: clamp(0.5rem, 4vw, 2vh);
  }
}

@media screen and (max-width: 450px) {
 .cat-logo {
    display: none !important;
  }
}

#gradient-text2 {
  background: linear-gradient(270deg, #8a2be2, #4b0082, #8a2be2, #4b0082);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-flow 5s infinite;
  display: inline-block;
  color: #ffffff; /* Ensure this is not affecting visibility */
}

#gradient-text2 sub {
  background: inherit; /* Inherit the gradient background */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.7rem;
  vertical-align: sub;
}
.subtext {
  font-size: 0.5em;
  color: #cccccc; /* Adjust color as needed */
  font-size: clamp(0.1rem, 1vw, 1vh);
}
.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes gradient-flow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}