@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/public-pixel');

@font-face {
    font-family: 'Public-Pixel';
    src: url(Neuropol.otf)
} 

.pixelfont{
  font-family: Public-Pixel;
}

.pixelfont3{
  font-family: Public-Pixel;
  font-size: 1.3rem;
}

.pixelfont2{
  font-family: Public-Pixel;
  position: absolute; /* Position the title absolutely */ 
  top: 1px;
  align-self: center;
  font-size: 3rem;
  max-width: 100%; /* Set a maximum width for the title */
  text-align: center; /* Center the text within its container */
}

.header {
  background-color: black;
  color: white;
  padding: .75rem;
  text-align: center;
  align-items: center;
  font-family: 'Public-Pixel';
  justify-content: space-evenly;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .5); /* Add shadow effect */
  font-size: 1.5rem;
}
#gradient-text {
  background: repeating-linear-gradient(to right, red, orange, yellow);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.3rem;

}



.form {
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center;
  background-color: #202429;
  border-radius: 0.618rem;
  border: 5px solid #000000;
  margin: .5rem;
  min-height: 92vh;
  width: 20vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add shadow effect */

}

.creation-container {
  position: relative; /* Ensure non-static positioning context */
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px solid #000000;
  padding: 1rem;
  margin: .5rem;
  border-radius: .618rem; 
  background-color: #202429;
  background-image: url('uzyGxtnY.jpg'); /* Enclose URL in quotes */
  background-size: 75%; /* Adjust background size if necessary */
  background-position: center; /* Adjust background position if necessary */
  width: 100%; /* Make the container expand to fit the available space */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add shadow effect */
  animation: flow 30s alternate infinite;
  cursor: auto;
}

.error-popup {
  font-family: Public-Pixel;
  font-size: 1.5rem;
  display: flex; /* Change position to display */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  background-color: #ffcccc;
  padding: 10px;
  border: 1px solid #ff0000;
  border-radius: 5px;
  z-index: 1000;
  cursor: pointer; /* Add this line to set the cursor to pointer */



}

/* Media query for smaller screens */
@media screen and (max-width: 924px) {
  
  .form,
  .creation-container {
    flex-direction: column; /* Stack items vertically on smaller screens */
    width: 98%; /* Adjust width to fit mobile screen */
    margin: 1rem auto; /* Add margin for spacing */
    min-height: 20rem;
  }
    /* Adjust font size for pixel fonts */
    .pixelfont,
    .pixelfont2 {
      font-size: 0.5rem !important;
    }
  
    .header {
      display: flex;
      align-items: center; /* Ensures that items are vertically centered in the line */
      justify-content: flex-start; /* Aligns items to the start of the container */
      flex-direction: row; /* Aligns items horizontally */
      font-size: .75rem;
    }
    img.h-10 {
      height: .75rem; /* or 40px if h-10 means height 10 units */
      width: auto; /* Maintain aspect ratio */
      margin-right: 8px; /* Optional: space between the logo and text */
    }
    #gradient-text {
      background: repeating-linear-gradient(to right, red, orange, yellow);
      background-clip: content-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 1.3rem;

    }
    .asset-value {
      font-size: 1.3rem; /* Adjust the font size as needed */
    }
    .asset-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 1.3rem;
    }
    .pixelfont3{
      font-family: Public-Pixel;
      font-size: 1.3rem;
    }
    /* Adjust font size for other elements */
    .textarea,
    .button,
    .widebutton,
    .tag,
    .tag2,
    .tag3 .tag,
    .field,
    .info-popup 
    .wallet 
    .form {
      font-size: 0.65rem !important;
    }
    
    .spinner-message {
      font-size: medium;
    }
  
    .adalogo {
      width: 30rem;
    }
  
    .imageborder {
      max-width: 50vh;
    }
  
  
}

/* Media query for larger screens */
@media screen and (min-width: 924px) {
  .wrapper {
    display: flex; /* Ensure wrapper uses flex layout */
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
    justify-content: space-between; /* Space items evenly */
  }
  .form {
    width: calc(30% - 1rem); /* Adjust width to fit side by side with margin */
    margin: 0.5rem;

  }
  .creation-container {
    width: calc(70% - 1rem); /* Adjust width to fit side by side with margin */
    margin: 0.5rem;

  }

  
}
/* Adjust the width of the image as needed */
.imageborder {
  max-height: 70vh;
  min-height: 30vw;
  max-width: 70vw;
  min-width: 30vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1); /* Add shadow effect */
}

.textarea {
  display: flex;
  padding-top: .5rem;
  margin: .3rem;
  border-width: 3px;
  border-radius: 0.618rem;
  font-family: Public-Pixel;
  font-size: 1.5rem;
  width: 97.5%
}
.info-popup {
font-family: Public-Pixel;
font-size: 1.5rem;
margin-left: 2rem;
margin-right: 2rem;
color: #ffffff;
width: vw;
}

.button {
  margin: .3rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  justify-content: center;
  display: flex;
  width: 97.5%; /* Set the width to 100% */
  border-radius: 0.618rem;
  padding: 1rem; /* Increase padding to make buttons wider */
  font-size: 1.5rem; /* Increase font size */
  cursor: pointer;
  color: #ffffff;
  border: 3px solid #000000; /* Add border */
  font-family: Public-Pixel;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add shadow effect */
  margin-left: auto; /* Center the tag horizontally */
  margin-right: auto; /* Center the tag horizontally */

}

.button2 {
  margin: .3rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  justify-content: space-between;
  display: flex;
  width: 97.5%; /* Set the width to 100% */
  border-radius: 0.618rem;
  padding: 1rem; /* Increase padding to make buttons wider */
  font-size: 1.5rem; /* Increase font size */
  cursor: pointer;
  color: #ffffff;
  border: 3px solid #000000; /* Add border */
  font-family: Public-Pixel;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add shadow effect */
  margin-left: auto; /* Center the tag horizontally */
  margin-right: auto; /* Center the tag horizontally */

}

.button:disabled {
  opacity: 0.3; /* Reduce opacity to indicate disabled state */
  cursor: not-allowed; /* Change cursor to indicate non-interactive */
  background-color: #585858; /* Change background color when disabled */
  color: #666666; /* Change text color when disabled */
  border-color: #999999; /* Change border color when disabled */
}


.infobutton {
  display: flex;
  margin-left: 1rem;
  padding: .75rem;
  align-items: center; /* Vertically center the content */
  display: flex;
  border-radius: 0.618rem;
  font-size: 1.5rem; /* Increase font size */
  cursor: pointer;
  border: 3px solid #000000; /* Add border */
  font-family: Public-Pixel;
  color:#ffffff;
  background-color:#c50303;
  height: 60px;
  max-width: 400px;
}
/*
.animated-gradient {
  background: linear-gradient(to right,  #ff00f7, #0000ff,#ff0000, #ff00f7 ,#0000ff); 
  background-size: 400% auto; 
  animation: flow 2.618s linear infinite ; 
}   
*/
@keyframes flow2 {
  0% {
      background-position: 0% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.tag {
  display: flex;
  align-items: center; /* Center text vertically */
  background-color: #585858;;
  border: 3px solid #000000;
  border-radius: 0.618rem;
  font-size: 1.5rem;
  margin: .25rem;
  padding: .25rem;
  color: #ffffff;
  justify-content: space-between;
  font-family: 'Public-Pixel', sans-serif; /* Ensure fallback fonts are specified */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add shadow effect */
}
 
.tag2 {
  margin-top: .5rem;
  margin-bottom: .5rem;
  align-items: center; /* Center the buttons vertically */
  display: flex;
  justify-content: space-between; /* or space-around or space-evenly */
  width: 98%;
  padding: .3rem;
  padding-top: .25rem;
  padding-bottom: .25rem;

  border: 3px solid #000000;
  border-radius: 0.618rem;
  font-family: Public-Pixel;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add shadow effect */
  margin-left: auto; /* Center the tag horizontally */
  margin-right: auto; /* Center the tag horizontally */
}

  .tag3 {
    display: flex;
    justify-content: center; /* Center the tags horizontally */
    align-items: center; /* Center the tags vertically */
    margin-top: 1rem;
  }
  
  .tag3 .tag {
    display: flex; /* Ensure tags are displayed as flex items */
    align-items: center; /* Center tag content vertically */

    border: 3px solid #000000;
    border-radius: 0.618rem;
    font-size: 1.5rem;
    margin: 0.25rem;
    padding: 0.25rem;
    color: #ffffff;
    font-family: 'Public-Pixel', sans-serif;
  }
  .tag4 {
    display: flex;
    align-items: center; /* Center text vertically */

    border: 3px solid #000000;
    border-radius: 0.618rem;
    font-size: 3rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 7rem;
    margin-right: 7rem;
    padding: .25rem;
    color: #ffffff;
    justify-content: space-between;
    font-family: 'Public-Pixel', sans-serif; /* Ensure fallback fonts are specified */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add shadow effect */
    flex-direction: column; /* Display items vertically */
  }

  .tag5 {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
    background-color: #000000;
    border: 3px solid #000000;
    border-radius: 0.618rem;
    font-size: 3rem;
    padding: 0.25rem;
    color: #ffffff;
    font-family: 'Public-Pixel', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: fit-content;
    margin: 3rem auto; /* Auto margins for horizontal centering if parent is block */
  }

  #creation-gradient-text {
    background: repeating-linear-gradient(to right, red, orange, yellow);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-content: center;
    align-self: center;
    font-size: 2rem;
  }

.field {
  display: flex;
  text-align: center;
  background-color: #b9b9b9;
  border: 3px solid black;
  border-radius: 0.618rem; /* Light grey background */
  font-size: 1.5rem;
  width: fit-content;
  font-family: Public-Pixel;
  padding: .1rem;
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  
  .spinner-message {
    position: absolute; /* Absolutely position the message inside the spinner */
    top: 50%;
    left: 50%;
    border-radius: 5.618rem;
    transform: translate(-50%, -50%); /* Center the message */
    text-align: center;
    display: flex; /* Ensures the text inside the message is centered */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    color: #ffffff;
    font-size: large;
    font-family: Public-Pixel;
    background: linear-gradient(to left,  #ff00f7, #0000ff,#c50303, #ff00f7 ,#0000ff); /* Define the gradient */
    background-size: 400% auto; /* Double the background size to make the gradient flow */
    animation: flow 2.618s linear infinite ; /* Apply the animation */
    min-width: 20vw;
    min-height: 20vh;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.adalogo {
  width: 40rem; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes flow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
/*
.animated-gradient2 {
  background: linear-gradient(to bottom, #8800ff,#0033ad, #8800ff, #0033ad, #8800ff); 
  background-size: auto 200%; /* Allow the gradient to expand along the vertical axis 
  animation: flow2 1.618s linear infinite;
}
.animated-gradient3 {
  background: linear-gradient
  background-size: auto 200%; 
  animation: flow2 1.618s linear infinite; 
  width:25vw;
  margin-left: auto; 
  margin-right: auto; 
}
/*cursor settings*/
body{
    background-color: #202429;
    cursor: auto;
} 

.prompt-summary{
  margin-bottom: 3rem;

}
.asset-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 4rem;
}
.asset-value {
  font-size: 1rem; /* Adjust the font size as needed */
}
