/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.cdnfonts.com/css/public-pixel');

@font-face {
    font-family: 'Public-Pixel';
    src: url(PublicPixel-eZPz6.ttf);
} 
.header{
    font-family: Public-Pixel;
}

/* Custom styles */
.container {
  display: flex;
  justify-content: center;
  
}
.form-container {
    margin: 0 auto; /* Horizontally center */
    text-align: center;
    max-height: 50rem;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center * /* Center inline elements */
}
.form {
  min-width: 20rem;
  padding: 1.25rem;
  background-color: #2406ba;
  border-radius: 0.618rem;
  border:5px solid #000000;
}

.textarea {
  width: 100%;
  min-height: 3rem;
  padding: 0.75rem;
  border-width: 1px;
  border-radius: 0.618rem;
  font-family: Public-Pixel;
}




.button {
    min-width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center; /* Vertically center the text */
    justify-content: center; /* Horizontally center the text */
    border-radius: 0.618rem;
    padding: 0.75rem 2rem; /* Increase padding to make buttons wider */
    background-color: #1ecfc1;
    color: #000000;
    font-size: 1.25rem; /* Increase font size */
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: 3px solid #000000; /* Add border */
    font-family: Public-Pixel
  }

.button:hover {
  background-color: #17aba2; /* Change hover background color */
}

.label-container {
    display: flex;
    justify-content: center;
  }


.label {
    width: 125px; /* Adjust as needed */
    text-align: center;
    margin-right: 10px; /* Spacing between label and select */
    font-family: Public-Pixel
  }
  

  
  .flex-container {
    display: flex;
    align-items: center; /* This will vertically align your items */
    justify-content: space-between; /* This will add space between your items */
  }

#gradient-text {
    background: repeating-linear-gradient(to right, red, orange, yellow);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-style: italic;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3); /* Modified shadow */
}

.info-container {
    display: flex;
    justify-content: center; /* Center the tags horizontally */


  }
  
  .tag {
    width: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px; /* Adjust vertical spacing between tags */
    padding: 0.25rem 0.25rem;
    background-color: #d400ff;
    border: 3px solid #000000;
    border-radius: 0.618rem;
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    font-family: Public-Pixel;
  }


.field {
    text-align: right;
    min-width: 300px; /* Set all fields to take up full width */
    background-color: #cdcdcd;
    border-radius: 0.618rem; /* Light grey background */
    padding: .1rem;
    max-height: 100px; /* Adjust padding as needed */
    font-family: Public-Pixel;
}
  .select {
    text-align: center;
    width: 250px; /* Adjust as needed */
    display: inline-block;
    border:3px solid #000000;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: Public-Pixel
  }
.spinner-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }  
  
  .spinner {
    border: 10px solid #ffffff ;
    border-top: 10px solid #000000;
    border-radius: 50%;
    width: 450px;
    height: 450px;
    animation: spin 1.236s ease-in-out infinite;
  }
  

  .spinner-message {
    text-align: center;
    color: #ffffff;
    font-size: large;
    margin-top: 10px;
    border: 3px solid #000000;
    background-color: #dd00f3;
    border-radius: .618rem;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .info-container {
    display: flex;
  }
  
  .parameters-box,
  .prompt-box {
    flex: 1;
    padding: 10px;
    background-color: #dd61f6;
    border-radius: 10px;
    border: 3px solid #000000;
  }
  .grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Adjust this as needed for your design */
    align-items: stretch; /* This will ensure that both the form and creation containers have the same height */
    gap: 16px; /* Optional: If you want some space between your columns */
  }
  

  .text-xl {
    font-size: 2.5rem; /* Increase font size */
    margin-top: 1rem;
    margin-bottom: .5rem; /* Increase top margin */
  }
  
  .textarea {
    border: 3px solid #000000; /* Add a 3px black border */
  }
  .creation-container {
    display: flex;
    min-height: rem;
    flex-direction: column;
    border: 5px solid #000000;
    justify-content: flex-start;
    flex: 1;
    padding: 25px;
    margin: 25px;
    border-radius: .618rem; 

  }
  
.tag2 {
    width: 100%; /* Make the header span the full width */
    text-align: center; /* Center the text */
    margin-bottom: 5px; /* Adjust vertical spacing */
    padding: 0.25rem 0.25rem;
    background-color: #7a61f6;
    border: 3px solid #000000;
    border-radius: 0.618rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: #000000;
    font-family: Public-Pixel;
    }
      
    .bold-text {
        font-weight: bold;
      }
      
    .width80{
        width: 70%;
      }

    .imageborder{
        border: 3px solid black;
    }
@keyframes flow {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
      
.animated-gradient {
    background: linear-gradient(to right,  #ff00f7, #0000ff,#ff0000, #ff00f7 ,#0000ff); /* Define the gradient */
    background-size: 400% auto; /* Double the background size to make the gradient flow */
    animation: flow 2.618s linear infinite ; /* Apply the animation */
}   
 
@keyframes flow2 {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.animated-gradient2 {
    background: linear-gradient(to bottom, #8800ff,#0033ad, #8800ff, #0033ad, #8800ff); /* Define the gradient */
    background-size: auto 200%; /* Allow the gradient to expand along the vertical axis */
    animation: flow2 1.618s linexar infinite; /* Apply the animation */
}

body{
    background-color: #ff0000;
    cursor: none;
    height: 120vh;
  }
  .small{
    width: 6px;
    height: 6px;
    border: 2px solid #000000;
    border-radius: 50%;
  }
  .big{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 20rem;
    animation-name: stretch;
              animation-duration: 2.0s;
              animation-timing-function: ease-out;
              animation-direction: alternate;
              animation-iteration-count: infinite;
              animation-play-state: running;
  }
  
  
  @keyframes stretch {
              0% {
                 
                  opacity: 0.2;
                  background-color: green;
                  border-radius: 100%;
              }
    
              50% {
                  background-color: orange;
              }
    
              100% {
                  transform: scale(2.0);
                  background-color: red;
              }
          }